.font {
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .CT {
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
  }
  

  
